# imgs not needed - cdn hosted/not used
dist/img/portfolio
dist/img/icons/fontawesome

# Dev files
src
server

.git
.gitignore
.gitattributes
.vscode
dist/hot
Dockerfile
LICENSE
README.md
npm-debug.log
